*{
    box-sizing: border-box;
    text-decoration: none;
    color:black;
    list-style: none;
}
/* 할인 혜택 광고  */
.ad a{
    display: inline-block;
    z-index:2;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    height: 40px;
    padding: 10px;    
    left:0;
    top:0;
}
/* 로고 및 쿠앤크 영역 */
header{
    
   
    margin-top: 60px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 175px;
}
header a{
    font-size: 24px;
}
header img{
    max-width:400px;
}
/* 메인 */
.main{
    display: block;
    margin: 0 auto;
    text-align : center;
    width: 100%;
    max-width: 1500px;
    
}
.main-img img{
    max-width: 1200px;
    width: 100%;
    margin: 10px;
}
.main-best{
     width:100%;
  max-width: 1240px;
  margin: 0 auto;
}
.main-best ul{

    display: inline;
}
.main-best li{   
    padding: 5px;
}
.best-contents-wrapper1,.best-contents-wrapper2{
    display: flex;
   
}
.main-best li img{

    width:100%;
    height: auto;
    transition: all 400ms;
}
.main-best li img:hover{
    background-color: black;
    opacity: 0.8;
    box-shadow: gray 0 5px 5px;
    box-shadow: gray 0 5px 5px;
}

.cloths{
    font-size: 12px;
}
.cloths-price p{
    margin: 0;
    font-size:12px;
    font-weight: 800;
}
.cloths::after{
 content:"";   
 display: block;
 border-top :1px gray solid;
 margin: 10px 5%;
}
/* 사이드 메뉴 */
li{
    font-size: 12px;
}
.left{
    height: 800px;   
    top:229px;
    float: left;
    position: fixed;
    
}
.right{
    float: right;
    position: fixed;
    font-size: 80px;
    top: 229px;
    right: 20px;   
}
#community::after{
    margin: 40px 0;
    display: block;
    content:"";
    border-top:1px solid rgb(201, 200, 200);
}
/* 푸터  */
.footer{
    background-color: antiquewhite;
    text-align: center;
}
@media(min-width:1400px){
    .main-best li{
        padding: 10px;
    }
}
@media(max-width:1400px)and (min-width:800px){
    .header,.main,.footer{
        position: relative;
        left:200px;
    }
}
@media(max-width:799px){
    .ad a{
        font-size: 12px;
        line-height: 12px;
        height: 28px;    
    }
    .menu{
        display: none;

    }
}