*{
    
    text-decoration: none;
    color:black;
    list-style: none;
}

/* 할인 혜택 광고  */
.ad a{
    display: inline-block;
    z-index:2;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;    
    height: 20px;
    left:0;
    top:0;
}
/* 로고 및 쿠앤크 영역 */
header{
    
   
    margin-top: 60px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 175px;
}
header a{
    font-size: 24px;
}
header img{
    max-width:400px;
}
/* 메인 */
.main{
    display: block;
    margin: 0 auto;
    text-align : center;
    width: 100%;
    max-width: 1500px;
    
}
.main img{
    max-width: 1200px;
    width: 100%;
    margin: 10px;
}
.main-best{
     width:100%;
  max-width: 1240px;
  margin: 0 auto;
}
.main-best ul{
    margin:0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}
.main-best img{
    width:inherit;
    max-width: 360px;
}
.cloths{
    font-size: 12px;
}
.cloths-price p{
    margin: 0;
    font-size:12px;
    font-weight: 800;
}
.cloths::after{
 content:"";   
 display: block;
 border-top :1px gray solid;
 margin: 10px 5%;
}
/* 사이드 메뉴 */
li{
    font-size: 12px;
}
.left{
    height: 800px;   
    top:229px;
    float: left;
    position: fixed;
    
}
.right{
    float: right;
    position: fixed;
    font-size: 80px;
    top: 229px;
    right: 20px;   
}
@media(max-width:1200px){
    .header,.main,.footer{
        position: relative;
        left:200px;
    }
}
