
.icon-search:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-colon:before { content: '\e804'; } /* '' */
.icon-right-dir:before { content: '\e805'; } /* '' */
.icon-stop:before { content: '\e806'; } /* '' */
.icon-search-1:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
