*{
    
    text-decoration: none;
    color:black;
    list-style: none;
}

.ad a{
    display: inline-block;
    z-index:2;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;    
    height: 20px;
    left:0;
    top:0;
}



header{
    
   
    margin-top: 60px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 175px;
}
header a{
    font-size: 24px;
}
header img{
    max-width:320px;
}

.main img{
    max-width: 800px;
    width: 100%;
    height: auto;
}
.article{
    margin: auto;
    height: auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-evenly;
}
.cloths{
    display:block;
}
.article img{
    max-width: 240px;
    width: 100%;
    height: auto;
}
.main,.footer{  
    margin: 0 auto;
    text-align: center;   
}
li{
    font-size: 12px;
}
.left{
    height: 800px;   
    top:229px;
    float: left;
    position: fixed;
    
}
.right{
    float: right;
    position: fixed;
    font-size: 80px;
    top: 229px;
    right: 20px;
    
    
}
@media(max-width:1000px){
    .header,.main,.footer{
        position: relative;
        left:200px;
    }
}
